img{
  border-radius: 10px;
  margin-bottom:50px ;
  margin-left: 10px 

}

body{

}

main{
  
  background-color: #FFEDDA90;
  border-radius: 15px;
  padding: 30px;
  text-align: justify;
  color: #000046;
  margin: -1px 
  
}
h1{
  text-align: left;
  font-size: 30px;
  padding-right: 30px;
}
